*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
  height: 10vh;
  background-image: url("Screenshot\ from\ 2023-02-21\ 14-04-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  
}

a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}
.fondo{
  height: 90vh;
  background-image: url("58596-informatica.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 15%;
  padding: 3%;
 
}

.tarjet{

  border: 5px solid rgb(2, 16, 95);
  border-radius: 65px;
  width: 24%;
  height: 56%;

  position: relative;

}
.foto{
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 95%;
  border-radius: 50px;
  
}

.texto{

font-size: 30px;
width: 50%;
height: 30%;
color: rgb(230, 241, 241);
font-weight: bold;



}

footer{
  background-image: url("Screenshot\ from\ 2023-02-21\ 14-04-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}