*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
  height: 10vh;
  background-image: url("Screenshot\ from\ 2023-02-21\ 14-04-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  
}

a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.fondo{
  height: 90vh;
  background-image: url("58628-informatica.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 4%;
  
 
}

.contenedor{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 3%;
  gap: 4%;
}

.zoom{
  transition: 1s;
}
.zoom:hover{
  transform: scale(1.2)
}

.proyecto1{

  width: 30%;
  height: 50%;
  background-image:url(imagen10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 
}
.proyecto2{

  width: 30%;
  height: 50%;
  background-image:url(Screenshot\ from\ 2023-02-21\ 12-41-20.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.proyecto3{

  width: 30%;
  height: 50%;
  background-image:url(Screenshot\ from\ 2023-02-21\ 12-41-55.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.texto{
  color : white;
  padding: 5%;
  font-size: 29px;
  text-decoration:underline;
  
}
.texto1{
  color : brown;
  margin-left: 4%;
  margin-top: 10%;
  font-size: 29px;
  text-decoration:underline;
  
}

.texto3{
  color : white;
  margin-left: 4%;
  margin-top: 10%;
  font-size: 29px;
  text-decoration:underline;
}


footer{
  background-image: url("Screenshot\ from\ 2023-02-21\ 14-04-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}