*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
  height: 10vh;
  background-image: url("Screenshot\ from\ 2023-02-21\ 14-04-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  
}

a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.fondo{
  height: 90vh;
  background-image: url("58696-informatica.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
  padding: 3%;
  position: relative;
 
  
}

h1{
  color:white;
  font-size: 50px;
 
}

.zoom{
  transition: 2s;
}
.zoom:hover{
  transform: scale(1.2)
}

.imagen{
  border-radius: 30px;
  width: 40%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  gap: 2%;
  backdrop-filter: blur(60px);
 
}

p{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tecnol1{

  width: 10%;
  height: 65%;
  
  
}

.tecnol2{

  width: 15%;
  height: 50%;
  
  
}

.color:hover{

  color: rgb(31, 247, 229);
  transition: 1s;

}
.text{
color: white;
font-weight: bold;
font-size: 1.5rem;
}

footer{
  background-image: url("Screenshot\ from\ 2023-02-21\ 14-04-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}