*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.header{
  border: 3px solid black;
  background-color: black;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.href{
  color: white;
  text-decoration: none;
}
.imagenes{

  width: 100%;
  height: 94vh;

  display: flex;
  flex-wrap: wrap;
  

}

.imagenes img{

  width: 33.3%;
  height: 47vh;

}

